
<br>
<div class = "container" text-align = "center">
<center><p>
  <h1>Bienvenido a la aplicacion CortaMine</h1>
  </p></center>
<p><center>
   <%= link_to image_tag("tela.jpg", size:"900x300"),
        	'http://rubyonrails.org/' %>
</center></p>
</div>

</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Mision</h3>
      <p>Trabajamos todos los días para construir un mejor futuro:<br>
        * Rentable y sostenible<br>
        * Con una operación sana, limpia y segura<br>
        * Asegurando la excelencia operacional y la transparencia en cada una de nuestras acciones<br>
        * Construyendo relaciones de mutuo beneficio con los clientes y proveedores     </p>

    </div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>vision</h3>
      <p>CortSem será una lider en el corte
      de prendas para vestir, orientada a la 
      generación de empleo y a la sostenibilidad, 
      comprometida con sus clientes brindando la mejor calidad
      </p>
      
    </div>
    <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Quienes somos</h3>
      <p>Somos una empresa dedicada al corte de prendas para vestir
      a escala industrial, contamos con mas de 10 años de esperiencia,
      que nos periten grarantizar nuestros servicio, en CortSem Usted es
      nuestro compromiso</p>
      </div>