<!DOCTYPE html>
<html>
  <head>
	<title>Credit | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
	<h1>Credit</h1>
	<p>
  	The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  	Tutorial</em></a>
  	Desarrollado por: William Betancur
	</p>
  </body>
</html>